.sidebar
    display: flex
    flex-direction: row
    width: 50%
    border: 1px solid white
    p
        font-size: 18px
        text-decoration: underline
        font-weight: 600
        color: #ffffff
    @media (min-width: 1200px)
        flex-direction: column
        max-width: 20%
        padding: 18px
